<div class="bg-gray-400 ">
    <div class="flex flex-row min-h-screen justify-between mx-12 my-12">
        <div class=" bg-gray-100 border w-2/3 ">TEST</div>
        <div class=" bg-gray-100 border w-96">
            <div class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">

            <h5 class="mb-4 text-xl font-medium text-gray-500 dark:text-gray-400">Thông tin nhận xe</h5>
            <div class="flex items-baseline text-gray-900 dark:text-white">
                <span class="text-3xl font-semibold">{{schedule.time_rental}}</span>
                
            </div>
            <p>Vị Trí: {{schedule.start}}</p>
            
            <h5 class="mt-2 mb-4 text-xl font-medium text-gray-500 dark:text-gray-400">Thông tin trả xe</h5>
            <div class="flex items-baseline text-gray-900 dark:text-white">
                <span class="block text-3xl font-semibold">{{schedule.time_rental}}</span>
                
            </div>
            <p>Vị Trí: {{schedule.end}}</p>
        </div>
        </div>
    </div>
</div>